@model Tasks.Models.Values

@{
    ViewBag.Title = "Calculator";
}

<h2>Calculator</h2>

@using (Html.BeginForm("Index", "Calculator", FormMethod.Post, new { @class = "form-group" }))
{
    <label for="input-number">Quantity:</label>
    @Html.TextBoxFor(i => i.Input, new { @class = "form-control", id = "input-number", type = "number" });
    
    <input type="submit"/>
}

<div>
    <table class="table table-striped">
        <tr class="row">
            <td class="col-md-1">Bit</td>
            <td>@Model.Bit</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Byte</td>
            <td>@Model.Byte</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Kilobit</td>
            <td>@Model.Kilobit</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Kilobyte</td>
            <td>@Model.Kilobyte</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Megabit</td>
            <td>@Model.Megabit</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Megabyte</td>
            <td>@Model.Megabyte</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Gigabit</td>
            <td>@Model.Gigabit</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Gigabyte</td>
            <td>@Model.Gigabyte</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Terabit</td>
            <td>@Model.Terabit</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Terabyte</td>
            <td>@Model.Terabyte</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Petabit</td>
            <td>@Model.Petabit</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Petabyte</td>
            <td>@Model.Petabyte</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Zettabit</td>
            <td>@Model.Zettabit</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Zettabyte</td>
            <td>@Model.Zetabyte</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Yottabit</td>
            <td>@Model.Yottabit</td>
        </tr>
        <tr class="row">
            <td class="col-md-1">Yottabyte</td>
            <td>@Model.Yottabyte</td>
        </tr>
    </table>

</div>

